# List and List Comprehensions.

**What is list in python?**

Answer:-

A list is a data structure in Python that is a mutable, or changeable, 
ordered sequence of elements. Each element or value that is inside of a list is 
called an item. They enable you to keep data together that belongs together, 
condense your code, and perform the same methods and operations on multiple 
values at once.


**for example**

Example 1 : [1, 3, 4, 5]

Example 2 : ['jack', 12, 123.42 ,'@#$%6']

here Example 1 and Example 2 are list.

In [1]:
"""

Create a blank list and print it.

Input:-- 
    
    list1 = list()

Output:--
    
    []

"""

list1 = list() # list1 = []
print('Output :', list1)

Output : []

In [2]:
"""

Create a list with the given numbers and print it.

Input:-- 
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:-- 
    
    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

"""

list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
"""

Create a list of 5 mixed elements with numbers and strings as given.

Input:--
    
    list1 = ['Esabel', 12, 'jackma' , 21.32, '1@#$#']

Output:--
    
    ['Esabel', 12, 'jackma' , 21.32, '1@#$#']

"""

list1 = ['Esabel', 12, 'jackma' , 21.32, '1@#$#']
print('Output :', list1)

Output : ['Esabel', 12, 'jackma', 21.32, '1@#$#']

In [4]:
"""

Print the length of the given list.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    10

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print('Output :', len(list1))

Output : 10

In [5]:
"""

Concatenate two given list by using built-in method 'extend()'.

Inputs:--
    
    list1 = [1, 2, 3, 4, 5]
    list2 = ['Reyan', 'Steev','Ronaldo']

Output:--
    
    [1, 2, 3, 4, 5, 'Reyan', 'Steev', 'Ronaldo']

"""

list1 = [1, 2, 3, 4, 5]
list2 = ['Reyan', 'Steev','Ronaldo']
list1.extend(list2)
print('Output1 :', list1)

Output1 : [1, 2, 3, 4, 5, 'Reyan', 'Steev', 'Ronaldo']

In [6]:
"""

Concatenate two given lists without using built-in method 'extend()'.

Input:--
    
    list1 = [1, 2, 3, 4, 5]
    list2 = ['Reyan', 'Steev','Ronaldo']

Outputs:-- 
    
    [1, 2, 3, 4, 5, 'Reyan', 'Steev', 'Ronaldo']
    ['Reyan', 'Steev', 'Ronaldo', 1, 2, 3, 4, 5]

"""

list1 = [1, 2, 3, 4, 5]
list2 = ['Reyan', 'Steev','Ronaldo']
print('Outputs:--\n')
print(list1+list2)

#Alternative way.
list2[len(list2):] = list1
print(list2)

Outputs:--

[1, 2, 3, 4, 5, 'Reyan', 'Steev', 'Ronaldo']
['Reyan', 'Steev', 'Ronaldo', 1, 2, 3, 4, 5]

In [7]:
"""

Append a number 12 into the given list using built-in method 'append()'.

Inputs:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--

    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.append(12)
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [8]:
"""

Append a number 13 into the given list without 'append()' method.

Input:-- 
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:-- 
    
    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 13]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = list1 + [13]
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 13]

In [9]:
"""

Insert a number 14 at start of the given list using built-in method 'insert()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.insert(0,14)
print('Output :', list1)

Output : [14, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
"""

Insert a number 15 at end of the given list using built-in method 'insert()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.insert(len(list1),15)
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15]

In [11]:
"""

Insert a number 16 at 5th position of the given list using built-in method 'insert()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 16, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.insert(4,16)
print('Output :', list1)

Output : [0, 1, 2, 3, 16, 4, 5, 6, 7, 8, 9]

In [12]:
"""

Insert a number 17 at start of the given list without using built-in method 'insert()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:
    
    [17, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = [17] + list1
print('Output :', list1)

Output : [17, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
"""

Insert a number 19 at 5th position of the given list without using built-in method 'insert()'.

Input:--

    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
 
    [0, 1, 2, 3, 19, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = list1[:4] + [19] + list1[4:]
print('Output :', list1)

Output : [0, 1, 2, 3, 19, 4, 5, 6, 7, 8, 9]

In [14]:
"""

Remove the fisrt number of given list using built-in method 'pop()'.

HINT:-POP() method take index to remove specified element.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [1, 2, 3, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.pop(0)
print('Output :', list1)

Output : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
"""

Remove the last number of given list using built-in method 'pop()'.

HINT:-POP() method take index to remove specified element.

Input:--

    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 4, 5, 6, 7, 8]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.pop(len(list1)-1)
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
"""

Remove the 5th number of given list using built-in method 'pop()'.

HINT:-POP() method take index to remove specified element.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.pop(4)
print('Output :', list1)

Output : [0, 1, 2, 3, 5, 6, 7, 8, 9]

In [17]:
"""

Remove the fisrt number of given list without using built-in method 'pop()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [1, 2, 3, 4, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = list1[1:]
print('Output :', list1)

Output : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
"""

Remove the last number of given list without using built-in method 'pop()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 4, 5, 6, 7, 8]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = list1[:len(list1)-1]
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
"""

Remove the 5th number of given list without using built-in method 'pop()'.

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = list1[:4]+list1[5:]
print('Output :', list1)

Output : [0, 1, 2, 3, 5, 6, 7, 8, 9]

In [20]:
"""

Remove the number 8 from given list using built-in method 'remove()'

Input:--
    
    list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Output:--
    
    [0, 1, 2, 3, 5, 6, 7, 8, 9]

"""

list1 =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list1.remove(8)
print('Output :', list1)

Output : [0, 1, 2, 3, 4, 5, 6, 7, 9]

In [21]:
"""

Print first five elements of given list.

Input:--
    
    list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,int ,'#93slk']

Output:--
    
    ['jack', 25, 90, 2.0, 32]

"""

list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,'int' ,'#93slk']
print('Output :', list1[:5])

Output : ['jack', 25, 90, 2.0, 32]

In [22]:
"""

Print last five elements of given list.

Input:--
    
    list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,int ,'#93slk']

Output:--
    
    ['$%^&', '32', 'str', 'int', '#93slk']

"""

list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,'int' ,'#93slk']
print('Output :', list1[-5:])

Output : ['$%^&', '32', 'str', 'int', '#93slk']

In [23]:
"""

Print five elements from 3rd position of given list.

Input:--
    
    list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,int ,'#93slk']

Output:--
    
    [90, 2.0, 32, '$%^&', '32']

"""

list1 = ['jack', 25, 90, 2.0, 32, '$%^&', '32', 'str' ,'int' ,'#93slk']
print('Output :', list1[2:2+5])

Output : [90, 2.0, 32, '$%^&', '32']

In [24]:
"""

Replace first element with 'Ronaldo' of given list.

Input:--
    
    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    ['Ronaldo', 'Ariyana', 'Rihan', 'Enrique', 'justin']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list1 = ['Ronaldo'] + list1[1:]
print('Output :', list1)

Output : ['Ronaldo', 'Ariyana', 'Rihan', 'Enrique', 'justin']

In [25]:
"""

Replace last element with 'Ronaldo' of given list.

Input:--

    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--

    ['Jack', 'Ariyana', 'Rihan', 'Enrique'd, 'Ronaldo']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list1 = list1[:4] + ['Ronaldo']
print('Output :', list1)

Output : ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'Ronaldo']

In [26]:
"""

Replace the 3rd element with 'Ronaldo' of given list.

Input:--

    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    ['Jack', 'Ariyana', 'Ronaldo', 'Enrique', 'justin']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list1 = list1[:2] + ['Ronaldo'] + list1[3:]
print('Output :', list1)

Output : ['Jack', 'Ariyana', 'Ronaldo', 'Enrique', 'justin']

In [27]:
"""

Replace all elements with 'Ronaldo' of given list.

Input:--
    
    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--

    ['ronaldo', 'ronaldo', 'ronaldo', 'ronaldo', 'ronaldo']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list1= ['ronaldo']*len(list1)
print('Output :', list1)

Output : ['ronaldo', 'ronaldo', 'ronaldo', 'ronaldo', 'ronaldo']

In [28]:
"""

Remove all elements of given list.

Input:--

    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    []

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list1.clear()
print('Output :', list1)

Output : []

In [29]:
"""

Find frequency of 32 in given list.

Input:--
    
    list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]

Output:--

    2

"""

list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]
print('Output :', list1.count(32))

Output : 2

In [30]:
"""

Print the sum of elements of given list.

Input:--
    
    [1, 2, 3, 4, 5, 6, 7, 8]

Output:--
    
     36

"""

list1 = [1, 2, 3, 4, 5, 6, 7, 8]
print('Output :',sum(list1))

Output : 36

In [31]:
"""

Create a list within a list and print it.

Inputs:--
    
    list1 = [0, 1, 2, 3, 4]
    list2 =  ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin', [0, 1, 2, 3, 4]]

"""

list1 = [0, 1, 2, 3, 4]
list2 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin', list1]
print('Output :', list2)

Output : ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin', [0, 1, 2, 3, 4]]

In [32]:
"""

Remove the list1 from list2

Inputs:--
    
    list1 = [0, 1, 2, 3, 4]
    list2 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin', [0, 1, 2, 3, 4]]

Output:--
    
    ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']

"""

list1 = [0, 1, 2, 3, 4]
list2 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin', [0, 1, 2, 3, 4]]
list2.remove(list1)
print('Output :', list2)


# Alternate way.

# list2.remove([0, 1, 2, 3, 4])
# list2.pop()
# list2.pop(len(list2)-1)
# list2 = list2[:-1]

Output : ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']

In [33]:
"""

Sort the given list in ascending order.

Input:-- 
    
    list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]

Output:--
    
    [1, 1, 2, 3, 4, 4, 4, 4, 5, 5, 21, 23, 32, 32, 43]

"""

list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]
list1.sort()
print('Output :',list1)

Output : [1, 1, 2, 3, 4, 4, 4, 4, 5, 5, 21, 23, 32, 32, 43]

In [34]:
"""

Sort the given list in descending order.

Input:--
    
    list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]

Output:--
    
    [43, 32, 32, 23, 21, 5, 5, 4, 4, 4, 4, 3, 2, 1, 1]

"""

list1 = [1, 2, 4, 3, 5, 43, 23, 4, 5, 4, 4, 32, 1, 32, 21]
list1.sort(reverse = True)
print('Output :', list1)

Output : [43, 32, 32, 23, 21, 5, 5, 4, 4, 4, 4, 3, 2, 1, 1]

In [35]:
"""

Copy the given list to other list using built-in method 'copy'.

Input:--
    
    ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list2 = list1.copy()
print('Output :', list2)

Output : ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']

In [36]:
"""

Compare the list1 with list2 to check whether both list are same or not.

Inputs:--

    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
    list2 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']

Output:--
    
    True

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
list2 = ['Jack', 'Ariyana', 'Rihan', 'Enrique','justin']
print('Output :', list1==list2)

Output : True

In [37]:
"""

Compare the list1 with list2 to check whether both list are same or not.

Inputs:--
    
    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']
    list2 = ['Jack', 'Ariyana', 'Rihan', 'justin', 'Enrique']

Output: False

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']
list2 = ['Jack', 'Ariyana', 'Rihan', 'justin', 'Enrique']

print('Output :', list1==list2)

Output : False

In [38]:
"""

Print the given list in reverse order using built-in method 'reverse()'.

Input:--
    
    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']

Output:
    
    ['Justin', 'Enrique', 'Rihan', 'Ariyana', 'Jack']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']
list1.reverse()
print('Output :', list1)

Output : ['justin', 'Enrique', 'Rihan', 'Ariyana', 'Jack']

In [39]:
"""

Print the given list in reverse order without using built-in method 'reverse()'.

Input:--
    
    list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']

Output:
    
    ['justin', 'Enrique', 'Rihan', 'Ariyana', 'Jack']

"""

list1 = ['Jack', 'Ariyana', 'Rihan', 'Enrique', 'justin']
print('Output :', list1[::-1])

Output : ['justin', 'Enrique', 'Rihan', 'Ariyana', 'Jack']

In [40]:
"""

Write a program to print 1 to 10 using list comprehensions.

Output: 

    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

"""
print('Output :', [i for i in range(1,11)])

Output : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
"""

Write a program to print the even number of given list using list comprehensions.

Input:--
    
    list1 = [1, 2, 3, 4, 4, 5, 6, 7, 7] 

Output:--
    
    [2, 4, 4, 6]

"""

list1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
print('Output :', [var for var in list1 if var % 2 == 0])

Output : [2, 4, 4, 6]

In [42]:
"""

Write a program to print the squre of given list using list comprehensions.

input:--

    list1 = [1, 2, 3, 4, 4, 5, 6, 7, 7] 

Output:

    [1, 4, 9, 16, 16, 25, 36, 49, 49]

"""

list1 = [1, 2, 3, 4, 4, 5, 6, 7, 7] 

print('Output :', [var**2 for var in list1])

Output : [1, 4, 9, 16, 16, 25, 36, 49, 49]

In [43]:
"""
Create a list of lists using nested list comprehensions.

Output:--
    
    [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

"""

print('Output :', [[i for i in range(5)] for j in range(5)])

Output : [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [44]:
"""

Write a python code which print prime number between 1 to 100 using list comprehensions.

Output:--
    
    [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

"""

print('Output :', [ i for i in range(2,100) if(sum([j for j in range(2,i//2 + 1) if i%j==0]) == 0)])

Output : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]