**What is dictionary in python ?**

**Answer :**

Python dictionary is an unordered collection of items. 
While other compound data types have only value as an element,
a dictionary has a key: value pair. 
Dictionaries are optimized to retrieve values when the key is known.

**What is items in Dictionary?**

**Answer:**

In dictionary every key have a value both key and value combined known as
item, and all the item available in dictionary is known as items.

In [1]:
"""

Create a blank dictionary and print it.

Input:--
    
    dict1 = dict()

Output:--
    
    {}

"""

dict1 = dict()

# Alternative way.
# dict1 = {}

print('Output :', dict1)

Output : {}

In [0]:
"""

Create a dictionary with five items as given input and print it.

Input:--

    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output :',dict1)

Output : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""

Print the items of dictionary using built-in 'items()' method .

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    dict_items([('Tony', 64), ('Eliza', 33), ('Peter', 87), ('Sam', 89), ('Rihana', 39)])

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output :', dict1.items())

Output : dict_items([('Tony', 64), ('Eliza', 33), ('Peter', 87), ('Sam', 89), ('Rihana', 39)])

In [0]:
"""

Create a dictionary with different types of keys and values as given and print it.

Input:--

    dict1 = {1:'Ryan', 4.23:46, 'Robert':53}

Output:--
    
    dict_items([(1, 'Daini'), (4.23, 46), ('Robert', 53)])

"""

dict1 = {1:'Ryan', 4.23:46, 'Robert':53}
print('Output :', dict1.items())

Output : dict_items([(1, 'Ryan'), (4.23, 46), ('Robert', 53)])

In [0]:
"""

Count the number of items in given dictionary.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    Number of items in given dictionary is 5

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output : Number of items in given dictionary is ', len(dict1))

Output : Number of items in given dictionary is  5

In [0]:
"""

Print the keys of given dictionary.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    dict_keys(['Tony', 'Eliza', 'Peter', 'Sam', 'Rihana'])

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output :', dict1.keys())

Output : dict_keys(['Tony', 'Eliza', 'Peter', 'Sam', 'Rihana'])

In [0]:
"""

Print the values of given dictionary.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    dict_values([64, 33, 87, 89, 39])

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output :', dict1.values())

Output : dict_values([64, 33, 87, 89, 39])

In [0]:
"""

Print the marks of 'Peter' of given dictionary using built-in method 'get()'.

Input:--

    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    Marks of Peter is 87

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output : Marks of Peter is', dict1.get('Peter'))

Output : Marks of Peter is 87

In [0]:
"""

Print the marks of Peter of given dictionary without using built-in method 'get()'.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    87

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Output : Marks of Peter is',dict1['Peter'])

Output : Marks of Peter is 87

In [0]:
"""

Insert an item {'Michel':88} into given dictionary using built-in method 'update()'.

Input:--
     
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 88}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
dict1.update({'Michel':88})
print('Output :', dict1)

Output : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 88}

In [0]:
"""

Insert an item {'Michel':88} into given dictionary without using built-in method 'update()'.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 88}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
dict1['Michel'] = 88
print('Output :', dict1)

Output : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 88}

In [0]:
"""

Replace the marks of Sam with 90 in given dictionary using built-in method 'update()'.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Outputs:--
    
    Befor update dict1 =  {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
    After update dict1 =  {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 90, 'Rihana': 39}
    
"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print("Output :--\n\n Befor update dict1 = ", dict1)
dict1.update({'Sam':90})
print(" After update dict1 = ", dict1)

Output :--

 Befor update dict1 =  {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
 After update dict1 =  {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 90, 'Rihana': 39}

In [0]:
"""

Replace the marks of Tony with 30 in given dictionary without using built-in method 'update()'.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print("Output :--\n\n Befor update dict1 = ", dict1)
dict1['Tony'] = 30
print(" After update dict1 = ", dict1)

Output :--

 Befor update dict1 =  {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
 After update dict1 =  {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""

Copy the given dictionary into other variable using built-in method 'copy()'.

NOTE:- When we use 'copy()' method, it doesn't affect dict2 if we do any updation in dict1.
where as when we use only '=' operator affects both dict1 and dict2 if we do any updation in dict1 or dict2.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
dict2 = dict1.copy()
print('Output :', dict2)

Output : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""
Remove the last item from bottom of dict1.

NOTE:-The popitem() method removes the item that was last inserted into the dictionary. 
In versions before 3.7, the popitem() method removes a random item. 
The removed item is the return value by popitem().

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
    After  pop dict1  : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89}
    
"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Outputs:--\n\nBefore pop dict1 :', dict1)

dict1.popitem()
print('After  pop dict1 :', dict1)

Outputs:--

Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
After  pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89}

In [0]:
"""

Remove the item 'Eliza' from dictionary.

Input:--
     
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
    After  pop dict1 : {'Tony': 64, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Outputs:--\n\nBefore pop dict1 :', dict1)

dict1.pop('Eliza')
print('After  pop dict1 :', dict1)

Outputs:--

Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
After  pop dict1 : {'Tony': 64, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""

Remove the item 'Tony' using del function of given dictionary.

Input:--
    
    {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--
    
    Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
    After  pop dict1 : {'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

print('Outputs:--\n\nBefore pop dict1 :', dict1)
del dict1['Tony']
print('After  pop dict1 :', dict1)

Outputs:--

Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
After  pop dict1 : {'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""

Remove all the items from geven dictionary.

Input:--
    
    {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

Output:--  
    
    {}
    
"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}

print('Outputs:--\n\nBefore pop dict1 :', dict1)
dict1.clear()
print('After  pop dict1 :', dict1)

Outputs:--

Before pop dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
After  pop dict1 : {}

In [0]:
"""

Create a dictionary using 'fromkeys' function where sequence of 1st 
parameter is used as keys and 2nd parameter will be values for every keys.

NOTE:- The second parameter is optional, if you not use 2nd parameter
the values of keys will be 'None'

Input:--
    
    dict1 =  'keys'

Output:--
    
    {'k': None, 'e': None, 'y': None, 's': None}

"""

dict1 = 'keys'

print('Output1:', dict.fromkeys(dict1))

Output1: {'k': None, 'e': None, 'y': None, 's': None}

In [0]:
"""

Create a dictionary using fromkeys function where sequence of 1st 
parameter is used as keys and 2nd parameter will be values for every keys.

NOTE:- The second parameter is optional, if you not use 2nd parameter
the values of keys will be 'None'

Input:--
    
    dict1 = 'keys'

Output1:--

    {'k': 'Values', 'e': 'Values', 'y': 'Values', 's': 'Values'}

"""

dict1 = 'keys'

print('Output1:',dict.fromkeys(dict1, 'Values'))

Output1: {'k': 'Values', 'e': 'Values', 'y': 'Values', 's': 'Values'}

In [0]:
"""

Print the given dictionary by using 'built-in' setdefault method where default key is 'Michel'.

NOTE:- If 'Michel' alrady exist it will not be iserted in dictionary.

Input:--
    
    dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
    
Output:--
    
    {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': None}

"""

dict1 = {'Tony':64, 'Eliza':33, 'Peter':87, 'Sam':89, 'Rihana':39}
print('Outputs:--\n\nBefore setdefault dict1 :', dict1)

dict1.setdefault('Michel')
print('After  setdefault dict1 :', dict1)

Outputs:--

Before setdefault dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}
After  setdefault dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': None}

In [0]:
"""

Print the given dictionary by using 'built-in' setdefault method where default key is 'Michel'.

NOTE:- If 'Michel' alrady exist it will not be iserted in dictionary.

Input:--
    
    dict1 = {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 89}

Output:--
    
    {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 89}

"""

dict1 = {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 89}
print('Outputs:--\n\nBefore setdefault dict1 :', dict1)

dict1.setdefault('Michel', 56)
print('After  setdefault dict1 :', dict1)

Outputs:--

Before setdefault dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 89}
After  setdefault dict1 : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39, 'Michel': 89}

In [0]:
"""

Merge the two given dictionaries.

Inputs:--
    
    dict1 = {'Tony':64, 'Eliza':33}
    dict2 = {'Peter':87, 'Sam':89, 'Rihana': 39}

Output:--
    
    {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

"""

dict1 = {'Tony':64, 'Eliza':33}
dcit2 = {'Peter':87, 'Sam':89, 'Rihana': 39}

dict1.update(dict2)
print('Output :' ,dict1)

Output : {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}

In [0]:
"""

Create a dictionary under a dictionary for given dictionaries.

Input1:--
    
    dict1 = {'Tony':64, 'Eliza':33}
    dict2 = {'Peter':87, 'Sam':89, 'Rihana': 39}

Output:--
    
    {'Tony': 64, 'Eliza': 33, 'dict2': {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

"""

dict1 = {'Tony':64, 'Eliza':33}
dcit2 = {'Peter':87, 'Sam':89, 'Rihana': 39}

dict1['dict2'] = dict2
print('Output :' ,dict1)

Output : {'Tony': 64, 'Eliza': 33, 'dict2': {'Tony': 64, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

In [0]:
"""

Remove the nested(dict2) dictionary from dict1.

Inputs:--
    
    dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}}

Output:--
     
    {'Tony': 64, 'Eliza': 33}

"""

dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Tony': 30, 'Eliza': 33, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

dict1.pop('dict2')

# Alternate way
# del dict1['dict2']

print('Output :', dict1)

Output : {'Tony': 64, 'Eliza': 33}

In [0]:
"""

Get the keys of nested(dict2) dictionary in list of given dictionary.

Input1:--
    
    dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}
  
Output:--
    
    dict_keys(['Robert', 'Peter', 'Sam', 'Rihana'])

"""

dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

print('Output :', list(dict1['dict2'].keys()))

Output : ['Robert', 'Peter', 'Sam', 'Rihana']

In [0]:
"""

Get the keys of nested(dict2) dictionary, concatenate them and make a single string of given dictionary.

Input1:--
    
    dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}
  
Output:--
    
    RobertPeterSamRihana

"""

dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

print('Output :', ''.join(dict1['dict2'].keys()))

Output : RobertPeterSamRihana

In [0]:
"""

Get the values of nested(dict2) dictionary in list of given dictionary.

Input1:--
    
    {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}
  
Output:--
    
    [30, 87, 89, 39]

"""

dict1 = {'Tony': 64, 'Eliza': 33, 'dict2': {'Robert': 30, 'Peter': 87, 'Sam': 89, 'Rihana': 39}}

print('Output :', list(dict1['dict2'].values()))

Output : [30, 87, 89, 39]

In [0]:
"""

Write a script to sort a dictionary by key.

Input:--

    dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

Output:--

    [(0, 0), (1, 2), (2, 1), (3, 4), (4, 3)]
    
"""

import operator
dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
# dict1 = dict(sorted(dict1.items(),key = operator.itemgetter(0)))

print('Output :', dict1)

Output : {0: 0, 1: 2, 2: 1, 3: 4, 4: 3}

In [0]:
"""

Write a script to sort(ascending and descending order) a dictionary by value.

Input:--

    dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

Output:--

    Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
    Dictionary in Asecending order by value : {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
    Dictionary in Descending order by value : {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

"""

import operator
dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

print('Outputs:--\n')
print('Original dictionary : ', dict1)

sorted_d = dict(sorted(dict1.items(), key = operator.itemgetter(1)))
print('Dictionary in Asecending order by value :', sorted_d)

sorted_d = dict(sorted(dict1.items(), key = operator.itemgetter(1), reverse = True))
print('Dictionary in Descending order by value :', sorted_d)

Outputs:--

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Dictionary in Asecending order by value : {0: 0, 2: 1, 1: 2, 4: 3, 3: 4}
Dictionary in Descending order by value : {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [0]:
"""

Write a Python script to concatenate following dictionaries to create a new one.

Inputs:--
    

    dic1 = {1:10, 2:20} 
    dic2 = {3:30, 4:40} 
    dic3 = {5:50, 6:60}

Output:--
    
    {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

"""

dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:40} 
dic3 = {5:50, 6:60}
new_dict={**dic1,**dic2,**dic3}
print('Output :',new_dict)

dic1.update(dic2)
dic1.update(dic3)
print('Output :', dic1)

Output {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Output : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
"""

Write a script to check whether given key is already exists in a dictionary.

Inputs:--

    key = 5
    dic1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Output:--

"""

key = 5
dict1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

print('Output :', key in dict1.keys())

Output : True

In [0]:
"""

Write a script to iterate over dictionaries using for loops.

Input:--

    dic1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Output:--

    1 -> 10
    2 -> 20
    3 -> 30
    4 -> 40
    5 -> 50
    6 -> 60

"""

dic1 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

print('Output :--\n')
for x,y in dic1.items():
    
    print(x,"->",y)

Output :--

1 -> 10
2 -> 20
3 -> 30
4 -> 40
5 -> 50
6 -> 60

In [0]:
"""

Write a script to create a dictionary where the keys are numbers between 1 and 15 (both included) and the values 
are square of keys.

Input:--

    dict1 = {}
    n = 15

Output:--
    
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

"""

dict1 = {}
n = 15

for x in range (1,n+1):

    dict1.update({x:x*x})

print('Output :', dict1)

Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [0]:
"""

Write a script to print the sum of all values in given dictionary.

Input:--

    dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Output:--

    Sum = 1240
    
"""

dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}
print('Output : Sum =', sum(dict1.values()))

Output : Sum = 1240

In [0]:
"""

Write a script to print the product of all the values of given dictionary.

Input:--

     dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Output:--

    Product = 14400
    
"""
dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
product = 1
for i in dict1:

    product *= dict1[i]

print('Output : Product =', product)

Output : Product = 14400

In [0]:
"""

Write a script to map two lists into a dictionary. 

Inputs:--

    list1 = ["a","b","c","d","r","q","e"]
    list2 = [1,2,3,6,4,5,6]

Output:--

    {'a': 1, 'b': 2, 'c': 3, 'd': 6, 'r': 4, 'q': 5, 'e': 6}

"""

list1 = ["a", "b", "c", "d", "r", "q", "e"]
list2 = [1, 2, 3, 6, 4, 5, 6]

dict1 = {}
for itr in range(len(list1)):

    dict1.update({list1[itr]:list2[itr]})

print('Output :', dict1)

Output : {'a': 1, 'b': 2, 'c': 3, 'd': 6, 'r': 4, 'q': 5, 'e': 6}

In [0]:
"""

Write a script to get the maximum and minimum value of a dictionary. 

Input:--

    dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Output:--

    Min value : 1
    Max value : 225

"""

dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

print("Outputs:--\n")
print("Min value :", min(dict1.values()))
print("Max value :", max(dict1.values()))

Outputs:--

Min value : 1
Max value : 225

In [0]:
"""

Write a script to remove duplicate items from Dictionary.

NOTE:- Dictionary does not contain duplicate key.

Input:--

    dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0, 0: 0}

Output:--

    {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

"""

dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0, 0: 0}
        
print('Output :', dict1)

Output : {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [0]:
"""

Write a script to check a whether the given dictionary is empty or not. 

Inputs:--

    dict1 = {}
    dict2 = {23,42}

Outputs:--

    {} is Empty
    {42, 23} is Not Empty

"""

dict1 = {}
dict2 = {23, 42}

print('Output:--\n')
print(dict1,"is","Empty" if dict1 == {} else "Not Empty")
print(dict2,"is","Empty" if dict2 == {} else "Not Empty")

Output:--

{} is Empty
{42, 23} is Not Empty

In [0]:
"""

Write a script to add the values of keys whcich or common in both given dictionaries and store in dictionary1.

Inputs:--

    dict1 = {'a': 100, 'b': 200, 'c':300}
    dict2 = {'a': 300, 'b': 200, 'd':400}

Output:--
    
    {'a': 400, 'b': 400, 'c': 300}

"""

dict1 = {'a': 100, 'b': 200, 'c':300}
dict2 = {'a': 300, 'b': 200, 'd':400}

for key in dict1:
    
    if(key in dict2):

        dict1[key] = dict1[key] + dict2[key]

print('Output :', dict1)

Output : {'a': 400, 'b': 400, 'c': 300}

In [0]:
"""

Write a script to print all unique values in a dictionary.

Input:--
    
     dict1 = {"V":"S001", "V": "S002", "VI": "S001", "VI": "S005", "VII":"S005", "V":"S009", "VIII":"S007"}
     
Output:--

    {'S007', 'S005', 'S001', 'S002', 'S009'}
    
"""

dict1 = {"I":"S001", "II": "S002", "III":"S002", "IV":"S001", "V":"S009", "VI": "S005", "VII":"S005", "V":"S009", "VIII":"S007"}

print('Output :',set(dict1.values()))

Output : {'S002', 'S001', 'S007', 'S005', 'S009'}

In [0]:
"""

Write a script to create and display all combinations of letters, selecting each letter from a different key 
in a dictionary. 

Inputs:--
    
    dict1 = {'1':['a','b'], '2':['c','d']}

Output:--

    ac
    ad
    bc
    bd

"""

import itertools
dict1 = {'1':['a','b'], '2':['c','d']}

print("Output:--\n")

for x in itertools.product(*[dict1[k] for k in sorted(dict1.keys())]):
    print("".join(x))

Output:--

ac
ad
bc
bd

In [0]:
"""

Write a script to find the highest 3 values in a dictionary. 

Input:--

    dict1 = {1: 2, 3: 4, 4: 3, 2: 9,2:9}

Output:--

    [3, 4, 9]
    {1: 2, 4: 3, 3: 4, 2: 9}

"""

import operator

dict1 = {1: 2, 3: 4, 4: 3, 2: 9,2:9}
s = []
dict1 = dict(sorted(dict1.items(), key = operator.itemgetter(1)))

for x in dict1:

    s.append(dict1[x])

print(s[-3:])
print(dict1)

[3, 4, 9]
{1: 2, 4: 3, 3: 4, 2: 9}

In [0]:
"""

Write a script to combine values in list of dictionaries. 

Input:--
    
    list_of_dictionary =  [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

Output:--
    
    Counter({'item1': 1150, 'item2': 300})

"""

from collections import Counter

list_of_dictionary =  [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]

counter = Counter()

for x in list_of_dictionary:

    counter[x['item']] += x['amount']

print("Output :", counter)

Output : Counter({'item1': 1150, 'item2': 300})

In [0]:
"""

Write a script to create a dictionary from a string.
Note: Track the count of the letters from the string.

Input:-- 

    string = 'hudsondata'

Output:--
    
    Counter({'d': 2, 'a': 2, 'h': 1, 'u': 1, 's': 1, 'o': 1, 'n': 1, 't': 1})

"""
from collections import Counter

string = 'hudsondata'
string = list(string)
string = Counter(string)
print("Output :", string)

Output : Counter({'d': 2, 'a': 2, 'h': 1, 'u': 1, 's': 1, 'o': 1, 'n': 1, 't': 1})

In [0]:
"""

Write a script to print a dictionary in table format.

Input:--

    dict1 = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}

Output:--

    C1 C2 C3
    1 5 9
    2 6 10
    3 7 11

"""

dict1 = {'C1':[1,2,3],'C2':[5,6,7],'C3':[9,10,11]}

print('Output:--\n')

for row in zip(*([key] + (value) for key, value in sorted(dict1.items()))):
    print(*row)

Output:--

C1 C2 C3
1 5 9
2 6 10
3 7 11

In [0]:
"""

Write a script to count the items associated with 'success = True' in a dictionary.

Input:--
    
    list_of_dict = [{'id': 1, 'success': True, 'name': 'Lary'}, 
                    {'id': 2, 'success': False,'name': 'Rabi'},
                    {'id': 3, 'success': True, 'name': 'Alex'}]

Output:--
    
    The number of items associated with scucess = True is 2

"""

list_of_dict = [{'id': 1, 'success': True, 'name': 'Lary'}, 
                {'id': 2, 'success': False,'name': 'Rabi'}, 
                {'id': 3, 'success': True, 'name': 'Alex'}]

counter = 0

for d in list_of_dict:

    if (d['success'] == True):

        counter += 1
        
print("Output : The number of items associated with scucess = True is", counter)

Output : The number of items associated with scucess = True is 2

In [0]:
"""

Write a script to convert a list into a nested dictionary of keys. 

Inputs:--

    list1 = [1,2,3,4]

Output:--

    {1: {}}
    {1: {}}
    ******
    {}
    {1: {}}
    -----------------
    {2: {}}
    {1: {2: {}}}
    ******
    {}
    {1: {2: {}}}
    -----------------
    {3: {}}
    {1: {2: {3: {}}}}
    ******
    {}
    {1: {2: {3: {}}}}
    -----------------
    {4: {}}
    {1: {2: {3: {4: {}}}}}
    ******
    {}
    {1: {2: {3: {4: {}}}}}
    -----------------
    {1: {2: {3: {4: {}}}}}

"""

list1 = [1,2,3,4]
d = c = {}
i = 0

print('Output:--\n')
for x in list1:
    c[x]={}
    print(c)
    print(d)
    print("******")
    c=c[x]
    print(c)
    print(d)
    print("-----------------")

print(d)

Output:--

{1: {}}
{1: {}}
******
{}
{1: {}}
-----------------
{2: {}}
{1: {2: {}}}
******
{}
{1: {2: {}}}
-----------------
{3: {}}
{1: {2: {3: {}}}}
******
{}
{1: {2: {3: {}}}}
-----------------
{4: {}}
{1: {2: {3: {4: {}}}}}
******
{}
{1: {2: {3: {4: {}}}}}
-----------------
{1: {2: {3: {4: {}}}}}

In [0]:
"""

Write a script to sort the elements of list of given dictionary. 

Input:--

    dict1 = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

Output:--

    {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}
    
"""

import operator

dict1 = {'n1': [2, 3, 1], 'n2': [5, 1, 2], 'n3': [3, 2, 4]}

for key, value in dict1.items():

    dict1[key] = sorted(value)  

print('Output :', dict1)

Output : {'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}

In [0]:
"""

Write a script to remove the imbeded space from dictionary keys. 

Input:--

    dict1 = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

Output:--
    
    {'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}
    
"""

dict1 = {'S  001': ['Math', 'Science'], 'S    002': ['Math', 'English']}

dict2 = {}

for key, value in dict1.items():

    dict2.update({key.replace(" ",""):value})

print('Output:', dict2)

Output: {'S001': ['Math', 'Science'], 'S002': ['Math', 'English']}

In [0]:
"""

Write a script to get the top three items according to values.

Input:--
    
    dict1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Output:--

    [('item4', 55), ('item1', 45.5), ('item3', 41.3)]

"""

import operator

dict1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

q = sorted(dict1.items(), key = operator.itemgetter(1), reverse=True)

print('Output :', q[0:3])

# Or

# import operator
# from heapq import nlargest
# d={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

# for x,y in nlargest(3,d.items(),key=operator.itemgetter(1)):
#     print(x,y)

Output : [('item4', 55), ('item1', 45.5), ('item3', 41.3)]

In [2]:
"""

Write a script to get the keys, values and items of a dictionary.

Input:--

    dict1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Output:--

    Keys   : dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])
    Values : dict_values([45.5, 35, 41.3, 55, 24])
    Items  : dict_items([('item1', 45.5), ('item2', 35), ('item3', 41.3), ('item4', 55), ('item5', 24)])

"""

dict1 = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

print('Output:--\n')
print('Keys   :', dict1.keys())
print('Values :', dict1.values())
print('Items  :', dict1.items())

Output:--

Keys   : dict_keys(['item1', 'item2', 'item3', 'item4', 'item5'])
Values : dict_values([45.5, 35, 41.3, 55, 24])
Items  : dict_items([('item1', 45.5), ('item2', 35), ('item3', 41.3), ('item4', 55), ('item5', 24)])

In [3]:
"""

Write a script to print items of dictionary one by one. 

Input:--

    dict1 = {'class':'V','rolld_id':2}
    
Output:--    

    ('class', 'V')
    ('rolld_id', 2)

"""

dict1 = {'class':'V','rolld_id':2}

print('Output:--\n')
for x in dict1.items():

    print(x)

Output:--

('class', 'V')
('rolld_id', 2)

In [4]:
"""

Write a script to check whether dictionary contain more than one item or not.

Input:--

    dict1 = {0:0, 23:23, 'name':'sam'}

Output:--

    True
    
"""

dict1 = {0:0, 23:23, 'name':'sam'}

print('Output :',True if len(dict1)>1 else False)

Output : True

In [5]:
"""

Write a script to count the number of items in dictionary value that is a list.

Input:--

    dict1 =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}

Output:--

    Total number of value of list is 5

"""

dict1 =  {'Alex': ['subj1', 'subj2', 'subj3'], 'David': ['subj1', 'subj2']}
count = sum(map(len,dict1.values()))

print('Output : Total number of value of list is', count)

Output : Total number of value of list is 5

In [ ]:
"""

1. WAP to read following input as a csv file after creating in an excel sheet ( 5 columns and 15 rows) 
and saving it as csv file.

Student	Subject1	Subject2 Subject3 Subject4 
Student1		
Student2	
    .
    .
    .	
Student15

2. Create a dictionay to store the column names as keys and row as values against each key.

3. Find top 5 students in each subject using python Dict.

4. Find the total score in all subjects.

5. Find first and last student in the Dict.


DATA:--
ology":79, "Math":70, "English":89 }
    {'Ammy':   {"Physics":90, "Chemistry":70, "Biology":84, "Math":80, "English":78 },
    'John':    {"Physics":92, "Chemistry":90, "Biology":85, "Math":61, "English":79 },
    'Jacky':   {"Physics":88, "Chemistry":91, "Biology":86, "Math":92, "English":97 },
    'Jack':    {"Physics":99, "Chemistry":92, "Biology":87, "Math":94, "English":42 },
    'Enrique': {"Physics":56, "Chemistry":93, "Biology":88, "Math":65, "English":52 },
    'Antony':  {"Physics":65, "Chemistry":94, "Biology":89, "Math":46, "English":83 },
    'Rocky':   {"Physics":98, "Chemistry":95, "Biology":71, "Math":57, "English":90 },
    'Netown':  {"Physics":79, "Chemistry":96, "Biology":72, "Math":98, "English":85 },
    'Peter':   {"Physics":59, "Chemistry":97, "Biology":73, "Math":90, "English":47 },
    'Chris':   {"Physics":60, "Chemistry":98, "Biology":74, "Math":93, "English":80 },
    'Stive':   {"Physics":97, "Chemistry":99, "Biology":75, "Math":77, "English":24 },
    'Tony':    {"Physics":94, "Chemistry":80, "Biology":76, "Math":97, "English":67 },
    'Stephan': {"Physics":67, "Chemistry":81, "Biology":77, "Math":87, "English":87 },
    'Reyan':   {"Physics":86, "Chemistry":82, "Biology":78, "Math":79, "English":82 },
    'Shareen': {"Physics":89, "Chemistry":83, "Bi}


"""

In [6]:
"""

1. WAP to read following input as a csv file after creating in an excel sheet ( 5 columns and 15 rows) 
and saving it as csv file

Input Demo:--

    Student	Subject1	Subject2 Subject3 Subject4 
    Student1		
    Student2	
        .
        .
        .	
    Student15

"""
import csv
import pandas as pd

data = [['Ammy',    90, 94, 84, 80, 78],
        ['John',    92, 90, 85, 61, 79],
        ['Jacky',   88, 91, 86, 92, 97],
        ['Jack',    99, 92, 87, 94, 42],
        ['Enrique', 56, 93, 88, 65, 52],
        ['Antony',  65, 94, 89, 46, 83],
        ['Rocky',   98, 95, 71, 57, 90],
        ['Netown',  79, 96, 72, 98, 85],
        ['Peter',   59, 97, 73, 90, 47],
        ['Chris',   60, 98, 74, 93, 80],
        ['Stive',   97, 99, 75, 77, 24],
        ['Tony',    94, 80, 76, 97, 67],
        ['Stephan', 67, 81, 77, 87, 87],
        ['Reyan',   86, 82, 78, 79, 82],
        ['Shareen', 89, 83, 79, 70, 89]]



# Creating data frame.
data_frame = pd.DataFrame(columns = ["Students", "Physics", "Chemistry", "Biology", "Math", "English"])

# Inserting records of student in data frame.
for i in range(len(data)):
    data_frame.loc[i] = data[i]

# Saving data_frame as csv.    
data_frame.to_csv('students_marks.csv', index = False, )

data_frame

   Students Physics Chemistry Biology Math English
0      Ammy      90        94      84   80      78
1      John      92        90      85   61      79
2     Jacky      88        91      86   92      97
3      Jack      99        92      87   94      42
4   Enrique      56        93      88   65      52
5    Antony      65        94      89   46      83
6     Rocky      98        95      71   57      90
7    Netown      79        96      72   98      85
8     Peter      59        97      73   90      47
9     Chris      60        98      74   93      80
10    Stive      97        99      75   77      24
11     Tony      94        80      76   97      67
12  Stephan      67        81      77   87      87
13    Reyan      86        82      78   79      82
14  Shareen      89        83      79   70      89

In [18]:
"""

2. Create a dictionay to store the column names as keys and row as values against each key.

"""

import csv
with open('students_marks.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    header = next(readCSV)
    print(header)
    dict1 = {}
    for row in readCSV:
        d = {}
        for i in range(1,len(row)):
            d[header[i]] = int(row[i])
        dict1[row[0]] = d
for key , values  in dict1.items():
    print(key, values)

['Students', 'Physics', 'Chemistry', 'Biology', 'Math', 'English']
Ammy {'Physics': 90, 'Chemistry': 94, 'Biology': 84, 'Math': 80, 'English': 78}
John {'Physics': 92, 'Chemistry': 90, 'Biology': 85, 'Math': 61, 'English': 79}
Jacky {'Physics': 88, 'Chemistry': 91, 'Biology': 86, 'Math': 92, 'English': 97}
Jack {'Physics': 99, 'Chemistry': 92, 'Biology': 87, 'Math': 94, 'English': 42}
Enrique {'Physics': 56, 'Chemistry': 93, 'Biology': 88, 'Math': 65, 'English': 52}
Antony {'Physics': 65, 'Chemistry': 94, 'Biology': 89, 'Math': 46, 'English': 83}
Rocky {'Physics': 98, 'Chemistry': 95, 'Biology': 71, 'Math': 57, 'English': 90}
Netown {'Physics': 79, 'Chemistry': 96, 'Biology': 72, 'Math': 98, 'English': 85}
Peter {'Physics': 59, 'Chemistry': 97, 'Biology': 73, 'Math': 90, 'English': 47}
Chris {'Physics': 60, 'Chemistry': 98, 'Biology': 74, 'Math': 93, 'English': 80}
Stive {'Physics': 97, 'Chemistry': 99, 'Biology': 75, 'Math': 77, 'English': 24}
Tony {'Physics': 94, 'Chemistry': 80, 'Biology': 76, 'Math': 97, 'English': 67}
Stephan {'Physics': 67, 'Chemistry': 81, 'Biology': 77, 'Math': 87, 'English': 87}
Reyan {'Physics': 86, 'Chemistry': 82, 'Biology': 78, 'Math': 79, 'English': 82}
Shareen {'Physics': 89, 'Chemistry': 83, 'Biology': 79, 'Math': 70, 'English': 89}

In [19]:
"""

3. Find top 5 students in each subject using python Dict.

Output:--

    For subject : Physics
    99 Jack
    99 Jack
    99 Jack
    98 John
    98 John

    For subject : Chemistry
    99 Stive
    98 Ammy
    98 Ammy
    97 Peter
    96 Netown

    For subject : Biology
    89 Antony
    88 Enrique
    87 Jack
    86 Jacky
    85 John

    For subject : Math
    98 Antony
    98 Antony
    98 Antony
    97 Enrique
    97 Enrique

    For subject : English
    97 Jacky
    90 Rocky
    89 Ammy
    89 Ammy
    88 Jack

"""

# Getting the subjects name.
subjects = list(dict1.values())[0].keys()
ss= list(dict1.values())
print(ss)
# Finding the name of student according to 5 highest marks for each subjects.
for subject in subjects:

    # Getting all the marks of particular subjects.
    marks_by_subject = [list(dict1.values()) [i][subject] for i in range(15)]

    # Getting all name of sutdents.
    students_name = list(dict1.keys())

    # Counting to prit 5 names.
    count = 0

    print("\nFor subject :", subject)

    # Getting top five marks and students name from sorted list.
    for marks in sorted(marks_by_subject,reverse = True):

        print(marks, students_name[marks_by_subject.index(marks)])
        count+=1
        if count==5:
            break

[{'Physics': 90, 'Chemistry': 94, 'Biology': 84, 'Math': 80, 'English': 78}, {'Physics': 92, 'Chemistry': 90, 'Biology': 85, 'Math': 61, 'English': 79}, {'Physics': 88, 'Chemistry': 91, 'Biology': 86, 'Math': 92, 'English': 97}, {'Physics': 99, 'Chemistry': 92, 'Biology': 87, 'Math': 94, 'English': 42}, {'Physics': 56, 'Chemistry': 93, 'Biology': 88, 'Math': 65, 'English': 52}, {'Physics': 65, 'Chemistry': 94, 'Biology': 89, 'Math': 46, 'English': 83}, {'Physics': 98, 'Chemistry': 95, 'Biology': 71, 'Math': 57, 'English': 90}, {'Physics': 79, 'Chemistry': 96, 'Biology': 72, 'Math': 98, 'English': 85}, {'Physics': 59, 'Chemistry': 97, 'Biology': 73, 'Math': 90, 'English': 47}, {'Physics': 60, 'Chemistry': 98, 'Biology': 74, 'Math': 93, 'English': 80}, {'Physics': 97, 'Chemistry': 99, 'Biology': 75, 'Math': 77, 'English': 24}, {'Physics': 94, 'Chemistry': 80, 'Biology': 76, 'Math': 97, 'English': 67}, {'Physics': 67, 'Chemistry': 81, 'Biology': 77, 'Math': 87, 'English': 87}, {'Physics': 86, 'Chemistry': 82, 'Biology': 78, 'Math': 79, 'English': 82}, {'Physics': 89, 'Chemistry': 83, 'Biology': 79, 'Math': 70, 'English': 89}]

For subject : Physics
99 Jack
98 Rocky
97 Stive
94 Tony
92 John

For subject : Chemistry
99 Stive
98 Chris
97 Peter
96 Netown
95 Rocky

For subject : Biology
89 Antony
88 Enrique
87 Jack
86 Jacky
85 John

For subject : Math
98 Netown
97 Tony
94 Jack
93 Chris
92 Jacky

For subject : English
97 Jacky
90 Rocky
89 Shareen
87 Stephan
85 Netown

In [0]:
"""

4. Find the total score in all subjects.

Output:--

    Total score for subject Physics: 1249
    Total score for subject Chemistry: 1369
    Total score for subject Biology: 1194
    Total score for subject Math: 1304
    Total score for subject English: 1303

"""

print("Output:--\n")
for subject in subjects:

    print("Total score for subject " + subject+":", sum([list(dict1.values())[i][subject] for i in range(15)]))

Output:--

Total score for subject Physics: 1219
Total score for subject Chemistry: 1365
Total score for subject Biology: 1194
Total score for subject Math: 1186
Total score for subject English: 1082

In [0]:
"""

5. Find first and last student in the Dict.

Output:--

    First student in Dictionary	: Ammy
    Last student in Dictionary	: Shareen
    
"""
print("Output:--\n")
print("First student in Dictionary\t:",list(dict1.keys())[0])
print("Last student in Dictionary\t:",list(dict1.keys())[-1])

Output:--

First student in Dictionary	: Ammy
Last student in Dictionary	: Shareen