**Pandas**

Pandas is a open source Python library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series, which is a Panel Data. Therefore, the library is named Pandas. Pandas library is built on NumPy package.

In [0]:
"""

Write a script to create a empty DataFrame.

Output:--

    Empty DataFrame
    Columns: []
    Index: []

"""

import pandas as pd

# Creating empty dataframe.
data_frame = pd.DataFrame()

print("Output:--\n")
print(data_frame)

Output:--

Empty DataFrame
Columns: []
Index: []

In [0]:
"""

Write a script to create a dataframe with 5 columns(header) with no data.

Input:--

    header = ["column0", "column1","column2","column3","column4"]

Output:-

    Empty DataFrame
    Columns: [column0, column1, column2, column3, column4]
    Index: []

"""

import pandas as pd

# Columns name of dataframe.
header = ["column0", "column1","column2","column3","column4"]

# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)

print("Output:--\n")
print(data_frame.head())

Output:--

Empty DataFrame
Columns: [column0, column1, column2, column3, column4]
Index: []

In [0]:
"""

Write a script to create a dataframe with 5 columns(header) with now data.
with one row of data.

Input:--

    Columns: [column0, column1, column2, column3, column4]
    data   = ["r0data0","r1data1" "r1data2","r1data3","r1data4"]

Output:--

        column0  column1  column2  column3  column4
    0   r0data0  r1data1  r1data2  r1data3  r1data4
    
"""

import pandas as pd

# Columns name of dataframe.
header = ["column0","column1", "column2","column3","column4"]

# Data for inserting in dataframe.
data   = ["r0data0","r1data1", "r1data2","r1data3","r1data4"]

# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)

# Inserting data in dataframe.
data_frame.loc[0] = data

print("Output:--\n")
print(data_frame)

Output:--

   column0  column1  column2  column3  column4
0  r0data0  r1data1  r1data2  r1data3  r1data4

In [0]:
"""

Write a script to create a dataframe with 5 columns(header) and 
insert five row of data in given dataframe using for loop.

Input:--

    header = ["column0", "column1", "column2", "column3", "column4"]

    R0C0    R0C1    R0C2    R0C3    R0C4
    R1C0    R1C1    R1C2    R1C3    R1C4
    R2C0    R2C1    R2C2    R2C3    R2C4
    R3C0    R3C1    R3C2    R3C3    R3C4
    R4C0    R4C1    R4C2    R4C3    R4C4

Output:--

      column0 column1 column2 column3 column4
    0    R0C0    R0C1    R0C2    R0C3    R0C4
    1    R1C0    R1C1    R1C2    R1C3    R1C4
    2    R2C0    R2C1    R2C2    R2C3    R2C4
    3    R3C0    R3C1    R3C2    R3C3    R3C4
    4    R4C0    R4C1    R4C2    R4C3    R4C4

"""

import pandas as pd

# Columns name of dataframe.
header = ["column0", "column1","column2","column3","column4"]


# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)


# Inserting 5 rows of data in dataframe.
for i in range(5):
    data_frame.loc[i] = ['R'+str(i)+'C0', 'R'+str(i)+'C1', 'R'+str(i)+'C2', 'R'+str(i)+'C3', 'R'+str(i)+'C4']


print("Output:--\n")
print(data_frame)

Output:--

  column0 column1 column2 column3 column4
0    R0C0    R0C1    R0C2    R0C3    R0C4
1    R1C0    R1C1    R1C2    R1C3    R1C4
2    R2C0    R2C1    R2C2    R2C3    R2C4
3    R3C0    R3C1    R3C2    R3C3    R3C4
4    R4C0    R4C1    R4C2    R4C3    R4C4

In [0]:
"""

Write a script to print the columns name and shape of given dataframe.

Input:--

    header = ["column0", "column1", "column2", "column3", "column4"]

Output:--

    ['column0', 'column1', 'column2', 'column3', 'column4']

    Shape of dataframe : (1, 5)

"""

import pandas as pd

# Columns name of dataframe.
header = ["column0", "column1", "column2", "column3", "column4"]

# Data for inserting in dataframe.
data   = ["r0data0", "r1data1", "r1data2", "r1data3", "r1data4"]

# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)

# Inserting data in dataframe.
data_frame.loc[0] = data

print("Output :--\n")
print(list(data_frame.columns))
print('\nShape of dataframe :', data_frame.shape)

Output :--

['column0', 'column1', 'column2', 'column3', 'column4']

Shape of dataframe : (1, 5)

In [0]:
"""

Write a script to insert 5 rows using loop in dataframe and
print the dataframe without index(row number)  and columns.

Inputs:--

    header = ["column0", "column1","column2","column3","column4"]

    R0C0    R0C1    R0C2    R0C3    R0C4
    R1C0    R1C1    R1C2    R1C3    R1C4
    R2C0    R2C1    R2C2    R2C3    R2C4
    R3C0    R3C1    R3C2    R3C3    R3C4
    R4C0    R4C1    R4C2    R4C3    R4C4

Output:--

    R0C0  R0C1  R0C2  R0C3  R0C4
    R1C0  R1C1  R1C2  R1C3  R1C4
    R2C0  R2C1  R2C2  R2C3  R2C4
    R3C0  R3C1  R3C2  R3C3  R3C4
    R4C0  R4C1  R4C2  R4C3  R4C4

"""

import pandas as pd

# Columns name of dataframe.
header = ["column0", "column1","column2","column3","column4"]


# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)


# Inserting 5 rows of data in dataframe.
for i in range(5):
    data_frame.loc[i] = ['R'+str(i)+'C0', 'R'+str(i)+'C1', 'R'+str(i)+'C2', 'R'+str(i)+'C3', 'R'+str(i)+'C4']


print("Output:--\n")
print(data_frame.to_string(index = False, header = False))

Output:--

 R0C0  R0C1  R0C2  R0C3  R0C4
 R1C0  R1C1  R1C2  R1C3  R1C4
 R2C0  R2C1  R2C2  R2C3  R2C4
 R3C0  R3C1  R3C2  R3C3  R3C4
 R4C0  R4C1  R4C2  R4C3  R4C4

In [0]:
"""

Write a script to insert a row at top, botom and between rows in given dataframe of size(5X5).


Inputs:--

    header = ["column0", "column0","column0","column0","column0"]

    R1C0    R1C1    R1C2    R1C3    R1C4
    R2C0    R2C1    R2C2    R2C3    R2C4
    R3C0    R3C1    R3C2    R3C3    R3C4
    R4C0    R4C1    R4C2    R4C3    R4C4
    R5C0    R5C1    R5C2    R5C3    R5C4

    new_row = ['nr0', 'nr1', 'nr2', 'nr3', 'nr4']

Output:--

      column0 column1 column2 column3 column4
    0    R0C0    R0C1    R0C2    R0C3    R0C4
    1    R1C0    R1C1    R1C2    R1C3    R1C4
    2    R2C0    R2C1    R2C2    R2C3    R2C4
    3    R3C0    R3C1    R3C2    R3C3    R3C4
    4    R4C0    R4C1    R4C2    R4C3    R4C4
    5    R5C0    R5C1    R5C2    R5C3    R5C4
    6    R6C0    R6C1    R6C2    R6C3    R6C4

"""

import pandas as pd


# Columns name of dataframe.
header = ["column0", "column1","column2","column3","column4"]
new_row1 = pd.DataFrame({"column0":'R0C0', "column1":'R0C1', "column2":'R0C2', "column3":'R0C3', "column4":'R0C4'}, index = [0])
new_row2 = pd.DataFrame({"column0":'R6C0', "column1":'R6C1', "column2":'R6C2', "column3":'R6C3', "column4":'R6C4'}, index = [0])
new_row3 = pd.DataFrame({"column0":'R5C0', "column1":'R5C1', "column2":'R5C2', "column3":'R5C3', "column4":'R5C4'}, index = [0])


# Creating empty dataframe with columns name.
data_frame = pd.DataFrame(columns = header)


# Inserting 5 rows of data in dataframe.
for i in range(1,6):
    data_frame.loc[i] = ['R'+str(i)+'C0', 'R'+str(i)+'C1', 'R'+str(i)+'C2', 'R'+str(i)+'C3', 'R'+str(i)+'C4']


# Adding at top
data_frame = pd.concat([new_row1, data_frame]).reset_index(drop = True)


# Adding at bottom
data_frame = pd.concat([data_frame[:-1],new_row2]).reset_index(drop = True)


# Adding at specific location
data_frame = pd.concat([data_frame[:5], new_row3, data_frame[5:]]).reset_index(drop = True)


# Alternate way to add at bottom
# new_row = ["R7C0","R7C1","R7C2","R7C3","R7C4"]
# data_frame.loc[len(data_frame)] = new_row

print("Output:--\n")
print(data_frame)

Output:--

  column0 column1 column2 column3 column4
0    R0C0    R0C1    R0C2    R0C3    R0C4
1    R1C0    R1C1    R1C2    R1C3    R1C4
2    R2C0    R2C1    R2C2    R2C3    R2C4
3    R3C0    R3C1    R3C2    R3C3    R3C4
4    R4C0    R4C1    R4C2    R4C3    R4C4
5    R5C0    R5C1    R5C2    R5C3    R5C4
6    R6C0    R6C1    R6C2    R6C3    R6C4

In [0]:
"""

Write a script to read and explore the  CSV file.

Link for file : https://drive.google.com/open?id=1gUz1LxFUPd1GHOWmqsGcIkstFD_FjKR2

NOTE : Read the CSV file in json format.

    import csv
    with open('iris.csv') as csvfile:
        readCSV = csv.reader(csvfile, delimiter=',')
        for row in readCSV:
            print(row)

Output:--

        SepalLength  SepalWidth  PetalLength  PetalWidth         Name
    0          5.1         3.5          1.4         0.2  Iris-setosa
    1          4.9         3.0          1.4         0.2  Iris-setosa
    2          4.7         3.2          1.3         0.2  Iris-setosa
    3          4.6         3.1          1.5         0.2  Iris-setosa
    4          5.0         3.6          1.4         0.2  Iris-setosa

"""

import pandas as pd

# Remove these two lineS if you are not using google colaboratory.
from google.colab import files
uploaded_file = files.upload()

data = pd.read_csv('iris.csv')
print("Output:--\n\n", data.head())

In [0]:
"""

Write a script to read and explore the Excel file.

Link for file : https://drive.google.com/open?id=1vd8z3SpTndOuHcS9HJBa6lLRRKsq_6gn

NOTE :  Read the XLS file in XLS format.

    import xlrd 

    # Give the location of the file 
    loc = ("airline.xls") 
    
    # To open Workbook 
    wb = xlrd.open_workbook(loc) 
    sheet = wb.sheet_by_index(0) 

    # Get the columns
    for i in range(sheet.ncols):
        print(sheet.cell_value(0, i))    

Output:--

	YEAR	    Y	    W	    R	    L	    K
0	1948	1.214	0.243	0.1454	1.415	0.612
1	1949	1.354	0.260	0.2181	1.384	0.559
2	1950	1.569	0.278	0.3157	1.388	0.573
3	1951	1.948	0.297	0.3940	1.550	0.564
4	1952	2.265	0.310	0.3559	1.802	0.574

"""

import pandas as pd

# Remove these two lineS if you are not using google colaboratory.
from google.colab import files
uploaded_file = files.upload()

xls = pd.read_excel('airline.xls','Sheet1')
xls.head()

In [0]:
"""

Write a script to read and explore the JSON file.

Link for file : https://drive.google.com/open?id=1BPV2aepeJedEM-2fEbiPVK09ZiWU8Hve

NOTE : Read the JSON file in json format.

    import json
    with open('json_file.json') as jsonfile:
        parsed = json.load(jsonfile)
        print(json.dumps(parsed, indent=2, sort_keys=True))

Output:--

    Index(['quiz'], dtype='object') 

    maths    {'q1': {'question': '5 + 7 = ?', 'options': ['...
    sport    {'q1': {'question': 'Which one is correct team...
    Name: quiz, dtype: object 

    5 + 7 = ? 

    ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket']

"""

import pandas as pd

# Remove these two lineS if you are not using google colaboratory.
from google.colab import files
uploaded_file = files.upload()

json = pd.read_json('json_file.json')

print('Outputs:--\n')
# Get the root of JSON file.
print(json.columns, "\n")
# data.keys()

# Get the subjects of 'quiz'.
print(json['quiz'], "\n")

# Get the 'question' of 'maths'.
print(json['quiz']['maths']['q1']['question'], "\n")

# Get the 'options' of 'sport'.
print(json['quiz']['sport']['q1']['options'])

In [0]:
"""

Write a script to print the categorical/unique data in series.

Inputs:--

    series1 = ["a", "b", "d", "a", "d"]
    series2 = [1, 2, 3, 1, 2, 3]

Outputs:--

    Categorical without pandas.Categorical() :
    0    a
    1    b
    2    d
    3    a
    4    d
    dtype: object

    Categorical with pandas.Categorical():

    [a, b, d, a, d]
    Categories (3, object): [a, b, d]

"""

import pandas as pd

series = ["b", "d", "a", "d"]

print("Outputs:--\n")

series = pd.Series(series)
print("\nCategorical without pandas.Categorical() :\n", series)

series = pd.Categorical(series, dtype = 'category', ordered = False)
print("\nCategorical with pandas.Categorical():\n\n", series)

In [0]:
"""

Write a script to print only categoriecal/unique data of given series.

Input:--

    series = [1, 2, 3, 1, 2, 3]

Output:--

    [1, 2, 3]

"""

import pandas as pd

series = [1, 2, 3, 1, 2, 3]

series = list(pd.Categorical(series, dtype = 'category').categories)
print("Output :", series)

In [0]:
import pandas as pd

series = [2, 1, 3, 1, 2, 3]

series = pd.Categorical(series, dtype = 'category', ordered = True )
print("Output :", series)

In [0]:
"""

Write a script to print only categoriecal/unique data of given series.

Input:--

    series = [1, 2, 3, 1, 2, 3]

Output:--

    [1, 2, 3]

"""

import pandas as pd
from pandas import CategoricalDtype
series = [1, 2, 3, 1, 2, 3]

a = pd.CategoricalDtype(['a', 'c', 'b'])
print ("a : ", a)

b = CategoricalDtype(['a', 'b', 'c'], ordered = True) 
print ("\nb : ", b) 

c = CategoricalDtype(['a', 'b', 'c'], ordered = False) 
print ("\nb : ", c) 

print ("\nTrue / False : ", a == CategoricalDtype(['a', 'b', 'c'], ordered=False)) 
   
c = pd.api.types.CategoricalDtype(categories=["a","b","d","c"], ordered=True) 
print ("\nType : ", c)