
## What is set in python ?

### Answer.

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. 
Pythonâ€™s set class represents the mathematical notion of a set. 
The major advantage of using a set, as opposed to a list, 
is that it has a highly optimized method for checking whether a specific element is contained in the set. 
This is based on a data structure known as a hash table.

In [0]:
"""
Create a blank set named set1 and print it.

Input : set() or {()}
Output: set()
"""

set1 = set()
print('Output :', set1)

Output : set()

In [0]:
"""
Create a set with 10 numerical elements as given and print it.

Input : {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
Output: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

"""
set1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [0]:
"""
Create a set with any 5 string elements and print it.

Input : {'Jack', 'Python', 'David', 'Reyan', 'Jupyter'}
Output : {'Reyan', 'Python', 'Jupyter', 'David', 'Jack'}

"""
set1 = {'Jack', 'Python', 'David', 'Reyan', 'Jupyter'}
print('Output :', set1)

Output : {'Jack', 'Reyan', 'David', 'Python', 'Jupyter'}

In [0]:
"""
Create a set named set1 with 5 mixed elements and print it.

Input : {'Jack', 5, 'David', 3.5, 'str'}
Output: {3.5, 5, 'str', 'David', 'Jack'}

"""
set1 = {'Jack', 5, 'David', 3.5, 'str'}
print("Output :", set1)

Output : {3.5, 5, 'Jack', 'str', 'David'}

In [0]:
"""
Add a new element 'Notebook' to given set.

Input : {1, 2, 3, 4, 5}
output: {1, 2, 3, 4, 5, 'Notebook'}

"""
set1 = set({1, 2, 3, 4, 5})
set1.add('Notebook')
print("output ", set1)

output  {1, 2, 3, 4, 5, 'Notebook'}

In [0]:
"""
Copy the element of set1 using copy function into set2 and print set2.

HINT:-Copy function have no refrence between set1 and set2 where as if
you use only assign operator to copy the set1 element to set2 and if
any update occured in either of the set both set will be affected.

Input : {1, 2, 3, 4, 5}
Output: {1, 2, 3, 4, 5}

"""
set1 = set({1, 2, 3, 4, 5})
set2 = set1.copy()
print("Output :",set2)

Output : {1, 2, 3, 4, 5}

In [0]:
"""
Remove the element 3 from given set using built-in method 'remove()' and print it.
Input : set1 = {1, 2, 3, 4, 5}
Output: set1 = {1, 2, 4, 5}

"""
set1 = {1, 2, 3, 4, 5}
print("Output1 : before romoving =", set1)
set1.remove(3)
print("Output2 : after removing  =", set1)

Output1 : before romoving = {1, 2, 3, 4, 5}
Output2 : after removing  = {1, 2, 4, 5}

In [0]:
"""
Remove the element 3 from given set using built-in method 'discard().'

The built-in method, discard() in Python, removes the element from
the set only if the element is present in the set. If the element is not 
present in the set, then no error or exception is raised
and the original set is printed. but in case of method 'remove()' error
printed.

Input : {1, 2, 3, 4, 5}
Ouput :
"""
set1 = {1, 2, 3, 4, 5}
set1.discard(3)
print('Output :',set1)

Output : {1, 2, 4, 5}

In [0]:
"""
Remove first element of given set.

Input : {1, 2, 3, 4, 5}
Output: {2, 3, 4, 5}

"""
set1 = set({1, 2, 3, 4, 5})
print("Output1 : before romoving =", set1)
set1.pop()
print("Output2 : after removing  =", set1)

Output1 : before romoving = {1, 2, 3, 4, 5}
Output2 : after removing  = {2, 3, 4, 5}

In [0]:
"""
Remove all elements of given set.
Input : {1, 2, 3, 4, 5}
Ouput : set()

"""
set1 = {1, 2, 3, 4, 5}
print("Output1 : before romoving =", set1)
set1.clear()
print("Output2 : after removing  =", set1)

Output1 : before romoving = {1, 2, 3, 4, 5}
Output2 : after removing  = set()

In [0]:
"""
Remove duplicate elements of given set.

HINT:- Set do not keep any duplicate element bydefault.
Input : {1, 2, 2, 2, 3, 3, 3, 3, 4, 5, 6}
Output: {1, 2, 3, 4, 5, 6}

"""
set1 = set({1, 2, 2, 2, 3, 3, 3, 3, 4, 5, 6})
print('Output :',set1)

Output : {1, 2, 3, 4, 5, 6}

In [0]:
"""
Find the difference between given two sets using built-in method 'difference()'.

Input1: {1, 2, 3, 4, 5, 6, 7, 8}
Input2: {9, 10, 11}
Output: {3, 4, 5, 6, 7, 8}

"""
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {1, 2, 9}


print('Output :',set1.difference(set2))

Output : {3, 4, 5, 6, 7, 8}

In [0]:
"""
Find the difference between given two sets without using built-in method 'difference()'.

Input1: {1, 2, 3, 4, 5, 6, 7, 8}
Input2: {9, 10, 11}
Output: {9}

"""
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {1, 2, 9}


print('Output :',set2 - set1)

Output : {9}

In [0]:
"""
Find the difference between given two sets using built-in method 'difference_update()'.

NOTE: - Here method 'difference()' return new set as result, where as 
method 'difference_update() does not create new set, it updates itself.

Input1: {1, 2, 3, 4, 5, 6, 7, 8}
Input2: {9, 10, 11}
Output: {3, 4, 5, 6, 7, 8}

"""
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {1, 2, 9}

set1.difference_update(set2)
print('Output :',set1)

Output : {3, 4, 5, 6, 7, 8}

In [0]:
"""
Find the number of elements in given set.

Input : {12, 3, 6, 2, 90}
Output: 5

"""
set1 = {12, 3, 6, 2, 90}
print('Output :',len(set1))

Output : 5

In [0]:
"""
Find the Union between two given set, get it into set3 and print set1.

Input1: {1, 2, 3, 4, 5}
Input2: {'Jack', 'Sam',' Rihana', 'Florid', 'Justin'}
Output: {1, 2, 3, 4, 5, 'Sam', 'Rihana', 'Florid', 'Justin', 'Jack'}

"""
set1 = {1, 2, 3, 4, 5}
set2 = {'Jack', 'Sam', 'Rihana', 'Florid', 'Justin'}
set3 = set1.union(set2)

print("Ouput1 : set1 =", set1)
print("Ouput2 : set2 =", set2)
print("Ouput3 : set3 =", set3)

Ouput1 : set1 = {1, 2, 3, 4, 5}
Ouput2 : set2 = {'Florid', 'Jack', 'Sam', 'Justin', 'Rihana'}
Ouput3 : set3 = {1, 2, 3, 4, 5, 'Florid', 'Jack', 'Sam', 'Justin', 'Rihana'}

In [0]:
"""
Find the Intersection between given two set and print it.

Input1: {1, 2, 3, 4, 5}
Input2: {12, 3, 6, 2, 90}
Output: {2, 3}

"""
set1 = {1, 2, 3, 4, 5}
set2 = {12, 3, 6, 2, 90}
set3 = set1.intersection(set2)

print("Ouput1 : set1 =", set1)
print("Ouput2 : set2 =", set2)
print("Ouput3 : set3 =", set3)

Ouput1 : set1 = {1, 2, 3, 4, 5}
Ouput2 : set2 = {2, 3, 6, 12, 90}
Ouput3 : set3 = {2, 3}

In [0]:
"""
Find the Intersection between given two set and print it.

NOTE: - Here method 'intersection()' return new set as result, where as 
method 'intersection_update() does not create new set, it updates itself.


Input1: {1, 2, 3, 4, 5}
Input2: {12, 3, 6, 2, 90}
Output: {2, 3}

"""
set1 = {1, 2, 3, 4, 5}
set2 = {12, 3, 6, 2, 90}
print("Ouput1 : set1 bfore intersection_update =", set1)
set1.intersection_update(set2)

print("Ouput2 : set1 after intersection_update =", set1)

Ouput1 : set1 bfore intersection_update = {1, 2, 3, 4, 5}
Ouput2 : set1 after intersection_update = {2, 3}

In [0]:
"""
Check whether the given set is disjoint or not.

Input1: {1, 4, 5}
Input : {12, 3, 6, 2, 90}
Output: True

"""

set1 = {1, 4, 5}
set2 = {12, 3, 6, 2, 90}

print("Output :", set1.isdisjoint(set2))

Output : True

In [0]:
"""
Check whether the given set is disjoint or not.

Input1: {1, 2, 3}
Input : {1, 3, 6, 90}
Output : False

"""

set1 = {1, 2, 3}
set2 = {1, 3, 6, 90}

print("Output :", set1.isdisjoint(set2))

Output : False

In [0]:
"""
Check whether the given set is subset or not.

Input1: {1, 2, 3}
Input : {1, 3, 6, 2, 90}
Output: True

"""

set1 = {1, 2, 3}
set2 = {1, 3, 6, 2, 90}

print("Output :", set1.issubset(set2))

Output : True

In [0]:
"""
Check whether the given set is subset or not.

Input1: {1, 2, 3}
Input : {1, 3, 6, 90}
Output: False

"""

set1 = {1, 2, 3}
set2 = {1, 3, 6, 90}

print("Output :", set1.issubset(set2))

Output : False

In [0]:
"""
Check whether the given set is superset or not.

Input1: {1, 3, 6, 2, 90}
Input2: {1, 2, 3}
Output: True

"""

set1 = {1, 3, 6, 2, 90}
set2 = {1, 2, 3}

print("Output :", set1.issuperset(set2))

Output : True

In [0]:
"""
Check whether the given set is superset or not.

Input1: {1, 3, 6, 90}
Input2: {1, 2, 3}
Output: False
"""

set1 = {1, 3, 6, 90}
set2 = {1, 2, 3}

print("Output :", set1.issuperset(set2))

Output : False

In [0]:
"""
Finds the symmetric difference between given sets.

Input1: {1, 3, 6, 90}
Input2: {1, 2, 3}
Output: {2, 6, 90}
"""

set1 = {1, 3, 6, 90}
set2 = {1, 2, 3}

print("Output :", set1.symmetric_difference(set2))

Output : {2, 6, 90}

In [0]:
"""
Finds the symmetric difference between given sets using built-in method 'symmetirc_difference_update()'.

NOTE: - Here method 'symmetric_difference()' return new set as result, where as 
method 'symmetric_difference_update()'' does not create new set, it updates itself.


Input1: {1, 3, 6, 90}
Input2: {1, 2, 3}
Output: {2, 6, 90}

"""

set1 = {1, 3, 6, 90}
set2 = {1, 2, 3}
set1.symmetric_difference_update(set2)
print("Output :" ,set1)

Output : {2, 6, 90}

In [0]:
"""
Update the existing set by using another existing set as given.

Input1: {1, 2, 3}
Input2: {2, 3, 4}
Output: {}

"""
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.update(set2)
print('Output :',set1)

Output : {1, 2, 3, 4}

In [20]:
"""
Write a code that accepts a comma separated sequence of words as input and prints the unique words in sorted 
form (alphanumerically).

inpust:--

    string = 'python, is, programming, language, and, also, scripting, language'

Outputs:--

    ['a', 'also', 'and', 'is', 'language', 'programming', 'python', 'scripting']

"""

string = 'python,is,a,programming,language,and,is,also,a,scripting,language'

string = set(string.split(','))

string = sorted(list(string))

print(string)

['a', 'also', 'and', 'is', 'language', 'programming', 'python', 'scripting']

[For more info about difference between add, union and update.](https://stackoverflow.com/questions/28845284/add-vs-update-in-set-operations-in-python/34170428)