**What is tuple ?**

**Answer :** A tuple is a sequence of immutable Python objects. Tuples are sequences,
just like lists. The differences between tuples and lists are, the tuples 
cannot be changed unlike lists and tuples use parentheses, 
whereas lists use square brackets. Creating a tuple is as simple as putting 
different comma-separated values.

**What is reserve word for tuple in Python ?**

**Answer :** tuple

**Is tuple Mutable?**

**Answer :** NO

In [1]:
"""

Create a blank tuple and print it.

Input:--

    tpl = tuple()

Output:--

    ()

"""

tpl = tuple()

# Alternative way.
# tp1 = ()

print("Output :", tpl)

Output : ()

In [2]:
"""

Create a tuple with any 5 elements

Input:--
    
    tpl = ('sam', 1, 3.2, "#@$$", 44423)

Output:--
    
    ('sam', 1, 3.2, '#@$$', 'str', 'int', 'str2', 32, 44423, 10)"""

tpl = ('sam', 1, 3.2, "#@$$", 44423)

print('Output :', tpl)

Output : ('sam', 1, 3.2, '#@$$', 44423)

In [3]:
"""

Print 3rd element of given tuple.

HINT:-tuple start from index 0 in forward order.

Input:--
    
    tpl = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Output:--
    
    The 3rd element of given tuple is 2
"""

tpl = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

print('Output : The 3rd element of given tuple is', tpl[2])

Output : The 3rd element of given tuple is 2

In [4]:
"""

What is the index of last element of given tuple when reading in forward order ?

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--
    
    Index = 6

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : Index =', tpl.index(tpl[-1]))

Output : Index = 6

In [5]:
"""

What is the index of first element of given tuple when we read elements in backward order ?

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--
    
    Index = -1

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : Index =', tpl[::-1].index(tpl[0]) - len(tpl))

Output : Index = -1

In [6]:
"""

Print the fisrt element of given tuple.

Input:--

    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--

    First element of given tuple is 1

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : First element of given tuple is', tpl[0])

Output : First element of given tuple is 1

In [7]:
"""

Print the last element of given tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--
    
    Last element of given tuple is = 7

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : Last element of given tuple is', tpl[len(tpl)-1])

Output : Last element of given tuple is 7

In [8]:
"""

Print the first 3 elements of given tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--
    
    First 3 elements of given tuple is (1, 2, 3)

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : First 3 elements of given tuple is', tpl[:3])

Output : First 3 elements of given tuple is (1, 2, 3)

In [9]:
"""

Print the last 3 element of given tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--

    First 3 elements of given tuple is (5, 6, 7)

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : Last 3 elements of given tuple is', tpl[-3:])

Output : Last 3 elements of given tuple is (5, 6, 7)

In [10]:
"""

Print the length of given tuple2.

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--

    Length of given tuple is 

"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print('Output : Length of given tuple is', len(tpl))

Output : Length of given tuple is 7

In [11]:
"""
Count the frequency  of element 2 in given tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 3, 2, 6, 3, 2, 2, 2, 5, 6, 7)

Output:--

    Frequency of 2 in given list is 5

"""

tpl = (1, 2, 3, 4, 3, 2, 6, 3, 2, 2, 2, 5, 6, 7)

print('Output : Frequency of 2 in given list is', tpl.count(2))

Output : Frequency of 2 in given list is 5

In [12]:
"""

Find the index of 9 in given tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 3, 9, 6, 3, 2, 2, 2, 5, 6, 7)

Output:--
    
    Index of 9 in given tuple is 5

"""

tpl = (1, 2, 3, 4, 3, 9, 6, 3, 2, 2, 2, 5, 6, 7)

print("Output : Index of 9 in given tuple is", tpl.index(9))

Output : Index of 9 in given tuple is 5

In [13]:
"""

Delete the first element of geven tuple.

Input:--
    
    tpl = (1, 2, 3, 4, 5, 6, 7)

Output:--
    
     (2, 3, 4, 5, 6, 7)
"""

tpl = (1, 2, 3, 4, 5, 6, 7)

print("Outputs:--\n\nBefore deleting first element:", tpl)

tpl = tpl[1:]
print("After  deleting first element:", tpl)

Outputs:--

Before deleting first element: (1, 2, 3, 4, 5, 6, 7)
After  deleting first element: (2, 3, 4, 5, 6, 7)

In [14]:
"""

Merge two given tuples.

Inputs:--
    
    tpl1 = (1, 2, 3)
    tpl2 = (4, 5, 6)

Output:--

    (1, 2, 3, 4, 5, 6)

"""

tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

print('Output :', tpl1 + tpl2)

Output : (1, 2, 3, 4, 5, 6)

In [15]:
"""

Repeat all the elements of given tuple 3 times.

Input:--
    
    tpl = (1, 2, 3)

Output:--
    
    (1, 2, 3, 1, 2, 3, 1, 2, 3)

"""

tpl = (1, 2, 3)

print('Output :', tpl*3)

Output : (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
"""

Create a nested tuple of given two tuples.

Inputs:--
    
    tpl1 = (1, 2, 3)
    tpl2 = (4, 5, 6)

Output:--
    
    Nested tuple = ((1, 2, 3), (4, 5, 6), 7, 8, 9)

"""

tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

tpl3 = (tpl1, tpl2, 7, 8, 9)

print('Output : Nested tuple =', tpl3)

Output : Nested tuple = ((1, 2, 3), (4, 5, 6), 7, 8, 9)

In [17]:
"""

Remove nested tuple from given tuple.

Inputs:--
    
    tpl1 = (1, 2, 3, (4, 5, 6))

Output:--
    
    New tuple = (1, 2, 3)

"""

tpl = (1, 2, 3, (4, 5, 6))
tpl = tpl[:-1]

print("Output : New tuple =", tpl)

Output : New tuple = (1, 2, 3)